html{
    font-family: helvetica;
    background-color: rgb(15, 43, 85) ;
}
body {color: white;}

.container{
    max-width: 1100px;
    background-color: rgb(32, 63, 108);
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 12px;
}
  .bold{
    font-weight: bold;
  }
  img {
    width: 700px;
    height: 700;
    border-radius: 12px;

  }
.header{
    text-align: center;
}
.main-title{
    font-size: 40px;
}
.main-paragraph{
    font-style: italic;
}

/*Imagem de destaque*/
.featured-image{
    text-align: center;
    margin-top: 30px;
}
.featured-image figcaption{

font-weight: bold;
}

/*Biografia */
.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed rgb(26, 61, 112);
    border-bottom:1px dashed rgb(26, 61, 112);
    border-radius: 12px;
}

/*Quotes*/
.quotes-container{
    background-color: rgb(58, 102, 167);
    padding: 30px;
    border-radius: 12px;

}
.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p{
    font-style: italic;
}
/*Curiosidades*/
.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed rgb(58, 102, 167);
    border-bottom: 1px dashed rgb(58, 102, 167);
}
.curiosities-container li{
height: 30px;
}

/*imagem bold*/
.img-bold{
    font-weight: bold;
    text-align: center;
}